<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>Abous Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo veniam nemo quibusdam corrupti maxime, autem tenetur nam nihil esse quae tempora dolorem? Doloremque totam amet, recusandae quam assumenda mollitia expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo veniam nemo quibusdam corrupti maxime, autem tenetur nam nihil esse quae tempora dolorem? Doloremque totam amet, recusandae quam assumenda mollitia expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo veniam nemo quibusdam corrupti maxime, autem tenetur nam nihil esse quae tempora dolorem? Doloremque totam amet, recusandae quam assumenda mollitia expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo veniam nemo quibusdam corrupti maxime, autem tenetur nam nihil esse quae tempora dolorem? Doloremque totam amet, recusandae quam assumenda mollitia expedita.</p>
            
        </div>


        <%- include('./partials/footer.ejs') %>

    </body>
</html>